/* .buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
  margin: auto;
} */


.configure_area {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
  height: 85vh;
}

.configure_area_left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin:1rem;
}

.configure_area_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin:1rem;
}

.configurator_new_area {
  height: 89.5vh;
  width: 100%;
  /* background-color:yellow; */
}