
.buttons_area {
  width: 54vw;
  height: 51vh;
  /* padding: 3vh 3vw; */
  padding: 3vw 3vw 1vw 3vw;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  /* background-color: blue; */
}

.vertical_scroll {
  width: 0.005vw;
  height:80%;
  background-color: white;
  margin-left: 35vw;
}

.controls_container {
  width: 54.5vw;
  height:67.5vh;
}

.notes_container {
  height: 16.5vh;
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
  margin-left: 4.7vw;
}